* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body,
button {
  font-family: "Montserrat", sans-serif;
}

#app {
  max-width: 430px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
}

form {
  display: flex;
  gap: 8px;
}

input {
  flex: 1;
  width: 240px;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ced4da;
}

#add-contact {
  height: 36px;
  padding: 8px 18px;
  background-color: #1971c2;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

li {
  margin-bottom: 24px;
}

li::marker {
  padding-left: 24px;
  color: #1971c2;
  font-size: 18px;
}

li span {
  margin-right: 8px;
}

li button {
  height: 36px;
  margin-right: 8px;
  padding: 4px 12px;
  background-color: #1971c2;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

li button:last-child {
  background-color: #fa5252;
}
