@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Montserrat", sans-serif;
}

.main-container {
  background-image: url(/pattern-background-desktop.svg);
  background-color: hsl(225, 100%, 94%);
  background-position: center top;
  background-repeat: no-repeat;
}

.photo {
  background-image: url(/image-product-desktop.jpg);
  background-size: cover;
  background-position: center;
}

.title-font {
  font-family: "Fraunces", serif;
}
